<h3>You did it!</h3>

Hi {{ name }}! You're a rolling stone!

{# example, assuming you have a route named "login" #}
Congratulations you just earned a 25% discount coupon:

Coupon : {{ coupon }}

Thanks!

{# Makes an absolute URL to the /images/logo.png file #}
